<% layout('../layout') -%>
<h1>Setup</h1>
<form action="/setup" method="post">
   <input type="text" name="username" placeholder="Username">
   <input type="password" name="password" placeholder="Password">
   <input type="text" name="first" placeholder="First Name">
   <input type="test" name="last" placeholder="Last Name">
   <button type="submit">Setup Grader</button>
</form>
