<div id="top-bar">
   <a href="/">Grader</a> <span class="bar">|</span>
   <a href="/admin">Admin</a>

   <div class="user-info">
      Welcome <a href="/user/<%= user._id %>"><%= user.first %></a> <span class="bar">|</span>
      <a href="/logout">sign out</a>
   </div>
</div>
