<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="gridSystemModalLabel">Group Students</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class=group-students form-horizontal" >

            <div class="form-group col-sm-12">
                <div class="col-sm-3 col-sm-offset-3">
                    <ul id="list-students"></ul>
                </div>
            </div>



            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="error text-center"></div>
        <button type="button" data-loading-text="Loading..."  class="save btn btn-primary" autocomplete="off">Save</button>
        <button type="button" class="cancel btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

</div>