<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Student<span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li><a href="#" class="newStudent">New Student</a></li>
    <li><a href="#" class="modifyStudent">Modify Student</a></li>
    <li><a href="#" class="deleteStudent">Delete Student</a></li>
    <!--<li><a href="#" class="groupStudents">Group Students</a></li>-->
    <li><a href="#" class="mockData">Generate Mock Grade Data</a></li>

</ul>