
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="gridSystemModalLabel">Add a New Assignment</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="new-assignment form-horizontal col-sm-12">


                <div class="form-group">

                    <label for="new-assignment-name" class="col-sm-3 col-sm-offset-1 control-label">Assignment Name</label>
                    <div class="col-sm-6">
                        <input id="new-assignment-name" required="true" class="name form-control" type="text" name="name" placeholder="i.e. Homework 1">
                    </div>
                </div>

                <div class="form-group">

                    <label for="new-assignment-weight" class="col-sm-3 col-sm-offset-1 control-label">Assignment Weight</label>
                    <div class="col-sm-6">
                        <input id="new-assignment-weight" required="true" class="weight form-control" type="text" name="weight" placeholder="i.e. .1">
                    </div>
                </div>
                <div class="form-group">

                    <label for="new-assignment-total-score" class="col-sm-3 col-sm-offset-1 control-label">Assignment Total Score</label>
                    <div class="col-sm-6">
                        <input id="new-assignment-total-score" required="true" class="total-score form-control" type="text" name="total-score" placeholder="i.e. 100">
                    </div>
                </div>


                <div class="form-group">

                    <label for="new-assignment-category" class="col-sm-3 col-sm-offset-1 control-label">Category</label>
                    <div class="col-sm-6">

                        <select id="new-assignment-category" class="category form-control" name="new-assignment-category" ></select>
                    </div>
                </div>



            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="error text-center"></div>
        <button type="button" data-loading-text="Loading..."  class="save btn btn-primary" autocomplete="off">Save</button>
        <button type="button" class="cancel btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

</div>
