<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Course<span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li><a href="#" class="newCourse">New Course</a></li>
    <li><a href="#" class="manageCourse">Modify Course</a></li>
    <li><a href="#" class="gradeScheme">Grade Scheme</a></li>
    <!--<li><a href="#" class="latePolicy">Late Policy</a></li>-->
    <!--<li><a href="#" class="permissions">Permissions</a></li>-->
</ul>