<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Assignments<span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li><a href="#" class="newAssignment">New Assignment</a></li>
    <li><a href="#" class="newCategory">New Category</a></li>
    <li><a href="#" class="modifyCategory">Modify Category</a></li>
</ul>