<button class="addStudentButton">Add New Student</button>
<div class="popup-dialog">

    <h3>Add New Student</h3>
    First Name <input class="studentFirstName" type="text" name="studentFirstName" placeholder="i.e. John"><br>
    Last Name <input class="studentLastName" type="text" name="studentLastName" placeholder="i.e. Doe"><br>
    EMPL ID <input class="studentID" type="text" name="studentID" placeholder="i.e. 00000001"><br>
    Nickname <input class="studentNickname" type="text" name="studentNickname" placeholder="i.e. Johnny"><br>
    Group <input class="studentGroup" type="text" name="studentGroup" placeholder="i.e. '1' or 'Node"><br>
    Email <input class="studentEmail" type="text" name="studentEmail" placeholder="i.e. jdoe@gmail.com"><br>
    Phone <input class="studentPhone" type="text" name="studentPhone" placeholder="i.e. 123-456-7890"><br>
    <p>Clicking OK below will save the above student information.</p>
    <button class="ok">OK</button>
    <button class="cancel">Cancel</button>
</div>