<button class="addNewClassButton">Add a New Class</button>
<dialog id="popup-dialog">
    <h3>Add a New Class</h3>
    Class Code <input class="classCode" type="text" name="classCode" placeholder="i.e. CPE"><br>
    Class Number <input class="classNumber" type="text" name="classNumber" placeholder="i.e. 101"><br>
    <p>Clicking OK below will generate a new gradebook for the class entered above.</p>
    <button id="ok">OK</button>
    <button id="cancel">Cancel</button>
</dialog>
