<!--<div class="row">
    <div class="col-sm-12">
    
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="charts"></div>
    </div>
</div>
<div class=""></div>
<div class=""></div>

<div class="table-responsive col-sm-4">
<table class="gradebook-students table table-condensed table-bordered">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
</div>
-->
<div class="row col-sm-12">
<div style="padding-right: 0; border-right: 1px solid #ddd;" class="gradebook-students   col-sm-3 ">
<table class="gradebook-students table table-condensed table-bordered ">
    <thead ></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
</div>
<div  style="padding-left: 0; border-right: 1px solid #ddd; border-left: 0px solid #ddd;" class="gradebook table-responsive col-sm-9 ">
<table style="border-left: 0px solid #ddd;margin-bottom: 0; " class="gradebook table table-condensed table-bordered table-bordered">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
</div>
</div>