<p>
    Minimun A:<input type="text" name="aMinInput" class="aMinInput" value="90"><br>
    Minimun B:<input type="text" name="bMinInput" class="bMinInput" value="80"><br>
    Minimun C:<input type="text" name="cMinInput" class="cMinInput" value="70"><br>
    Minimun D:<input type="text" name="dMinInput" class="dMinInput" value="60"><br>
    <button class="newGradeInputs">Update Minimums</button>
</p>
<p>
    Total Grades:<br>
    A's: <a class="aOutTotal"></a><br>
    B's: <a class="bOutTotal"></a><br>
    C's: <a class="cOutTotal"></a><br>
    D's: <a class="dOutTotal"></a><br>
    F's: <a class="fOutTotal"></a><br>
</p>
<p>Data:</p>
<p id="dataArrayValues">Values: </p>
<p id="dataArrayQuantity">Quantities: </p>