<div class="container"></div>
<div class="title">Title {{ title }}</div>
<table class="gradebook table table-bordered">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<h1>Charts</h1>
<div class="charts"></div>
<div class=""></div>
<div class=""></div>
