<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Class<span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li><a href="#" class="newClass">New Class</a></li>
    <li><a href="#" class="manageClass">Manage Class</a></li>
    <li><a href="#" class="gradeScheme">Grade Scheme</a></li>
    <li><a href="#" class="latePolicy">Late Policy</a></li>
    <li><a href="#" class="permissions">Permissions</a></li>
</ul>