<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    Filter Courses <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
    <li><a href="#" class="all">All Courses</a></li>
    <li><a href="#" class="user">My Courses</a></li>
</ul>