
   <h1>Login</h1>
   <input type="text" name="username" class="username" placeholder="Username">
   <input type="password" name="password" class="password" placeholder="Password">
   <button>Login</button>
   <div class="error"></div>



