

<div class="modal-content">
<form class="login">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="gridSystemModalLabel">Sign In</h2>
    </div>
    
    <div class="modal-body">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12">

        <div class="form-group">
        <label for="login-form-username" class="control-label hidden">Username</label>
        <input id="login-form-username" type="text" required="true" class="form-control input-lg username" name="username" placeholder="Username">
        </div>
        
        <label for="login-form-password" class="control-label hidden">Password</label>
        <input id="login-form-password" type="password" required="true" class="form-control input-lg password" name="password" placeholder="Password">

        </div>
        </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <div class="error text-center"></div>
        <button type="submit" data-loading-text="Loading..."  class="submit btn btn-primary btn-lg btn-block" autocomplete="off">
            Sign in
        </button>
    </div>
    </form>
</div><!-- /.modal-content -->

