<!-- modifyStudentView.html -->
<!-- @author Grant Plaster -->
<!-- @source http://www.hongkiat.com/blog/html5-dialog-window/ -->

<!doctype html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Modify Student</title>

    <!-- Include jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        var fillIn = function (student) {
            $("#studentName").val(student.studentName);
            $("#studentID").val(student.studentID);
            $("#studentEmail").val(student.studentEmail);
            $("#studentPhone").val(student.studentPhone);
        }

        $(document).ready(function () {
            var exampleStudent = {};
            exampleStudent.studentName = "Arya Stark";
            exampleStudent.studentID = "10101010";
            exampleStudent.studentEmail = "vmorghulis@gmail.com";
            exampleStudent.studentPhone = "255-687-8343";

            fillIn(exampleStudent);
        });
    </script>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- Not using CSS Style at the moment ... -->

</head>

<body>

<!-- Actual page's layout including the dialog -->
<div class="demo-wrapper">
    <div class="html5-dialog">
        <button id="modifyStudent">Modify Student Information</button>
        <dialog id="popup-dialog">
            <!-- Drop down menu to choose students from list -->
            <select><option>Select Student</option></select>

            <!-- Search bar to search for student information -->
            <input id="search" type="text" name="search" placeholder="Search..."><br>

            <h3>Modify Student</h3>
            Student Name <input id="studentName" type="text" name="studentName" placeholder="i.e. John Doe"><br>
            EMPL ID <input id="studentID" type="text" name="studentID" placeholder="i.e. 00000001"><br>
            Nickname <input class="studentNickname" type="text" name="studentNickname" placeholder="i.e. Johnny"><br>
    Group <input class="studentGroup" type="text" name="studentGroup" placeholder="i.e. '1' or 'Node"><br>
    Email <input class="studentEmail" type="text" name="studentEmail" placeholder="i.e. jdoe@gmail.com"><br>
    Phone <input class="studentPhone" type="text" name="studentPhone" placeholder="i.e. 123-456-7890"><br>
            <p>Clicking OK below will save changes to the above student information.</p>
            <button id="ok">OK</button>
            <button id="cancel">Cancel</button>
        </dialog>
    </div>
</div>

<!-- Script that handles the events -->
<script type="text/javascript">
    (function() {
        // Get the page and dialog layout
        var dialog = document.getElementById('popup-dialog');

        // Show the Modal dialog when the button is clicked
        document.getElementById('modifyStudent').onclick = function() {
            dialog.show();
        };

        // Event handler for the OK button on the dialog
        document.getElementById('ok').onclick = function() {
            console.log('OK Button Clicked!');

            var studentName = document.getElementById("studentName").value
                    + " " + document.getElementById("studentID").value;

            // Simple input validation (empty class code or number disallowed)
            if (document.getElementById("studentName").value === '' &&
                    document.getElementById("studentID").value === '') {
                window.alert('Please enter student name and EMPL ID.');
            }
            else {
                // Clear the input fields
                document.getElementById("studentName").value = '';
                document.getElementById("studentID").value = '';

                // Close the Modal dialog and show class name entered
                dialog.close();
                window.alert('The following student information was modified\n' +
                'Student: [' + studentName + ']');
            }
        };

        // Event handler for the Cancel button
        document.getElementById('cancel').onclick = function() {
            dialog.close();
        };
    })();

</script>
</body>
</html>