<form class="modifyAssignment">
   <h1>Modify Assignment</h1>
   <label>Assignment Name: <input type="text" name="assignmentName"></label><br><br>
   <label>Weight: <input type="text" name="assignmentWeight"><br><br>
   <label>Total Score: <input type="text" name="assignmentTotalScore"><br><br>
   <label>Category: <select name="category">
      <option value="Tests">Tests</option>
      <option value="Projects">Projects</option>
      <option value="Homework">Homework</option>
   </select></label><br><br>
   <button>Modify Assignment</button>
</form>