<button class="modifyClassButton">Modify Class Information</button>
<div class="popup-dialog">
    <h3>Modify Class Information</h3>
    Class Code <input class="classCode" type="text" name="classCode" placeholder="i.e. CPE"><br>
    Class Number <input class="classNumber" type="text" name="classNumber" placeholder="i.e. 101"><br>
    <p>Clicking OK below will edit the class information.</p>
    <button class="ok">OK</button>
    <button class="cancel">Cancel</button>
</div>



