<!-- modifyClassView.html -->
<!-- @author Mike Ryu -->
<!-- @source http://www.hongkiat.com/blog/html5-dialog-window/ -->

<!doctype html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Modify Class Information</title>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- Not using CSS Style at the moment ... -->

    <!-- Include jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        // TODO: change from canned data to real data
        var fillIn = function (graderClass) {
            $("#classCode").val(graderClass.classCode);
            $("#classNumber").val(graderClass.classNumber);
        };

        $(document).ready(function () {
            var exampleClass = {};
            exampleClass.classCode = "CPE";
            exampleClass.classNumber = "101";

            fillIn(exampleClass);
        });
    </script>

</head>

<body>

<!-- Actual page's layout including the dialog -->
<div class="demo-wrapper">
    <!--<form class="add-new-class-view">-->
        <div class="html5-dialog">
            <button id="addClass">Modify Class Information</button>
            <dialog id="popup-dialog">
                <h3>Modify Class Information</h3>
                Class Code <input id="classCode" type="text" name="classCode" placeholder="i.e. CPE"><br>
                Class Number <input id="classNumber" type="text" name="classNumber" placeholder="i.e. 101"><br>
                <p>Clicking OK below will edit the class information.</p>
                <button id="ok">OK</button>
                <button id="cancel">Cancel</button>
            </dialog>
        </div>
    <!--</form>-->
</div>

<!-- Script that handles the events -->
<script type="text/javascript">
    (function() {
        // Get the page and dialog layout
        var dialog = document.getElementById('popup-dialog');

        // Show the Modal dialog when the button is clicked
        document.getElementById('addClass').onclick = function() {
            dialog.show();
        };


        // Event handler for the OK button on the dialog
        document.getElementById('ok').onclick = function() {
            console.log('OK Button Clicked!');

            var className = document.getElementById('classCode').value
                    + " " + document.getElementById('classNumber').value;

            // Simple input validation (empty class code or number disallowed)
            if (document.getElementById('classCode').value === '' ||
                    document.getElementById('classNumber').value === '') {
                window.alert('Please enter class code AND number.');
            }
            else {
                // Close the Modal dialog and show class name entered
                dialog.close();
                window.alert('The following change has been made:\n' +
                'Modified class Name: [' + className + ']');
            }
        };

        // Event handler for the Cancel button
        document.getElementById('cancel').onclick = function() {
            dialog.close();
        };
    })();

</script>
</body>
</html>