<button class="modifyAssignmentButton">Modify Assignment Information</button>
<div class="popup-dialog">
    
        
            <h3>Modify an Assignment</h3>
            <label>Assignment Name: <input class = "assignmentName" type="text" name="assignmentName"></label><br><br>
            <label>Weight: <input class = "assignmentWeight" type="text" name="assignmentWeight"><br><br>
            <label>Total Score: <input class = "assignmentTotalScore" type="text" name="assignmentTotalScore"><br><br>
           <label>Category: <select class="category">
           </select></label><br><br>
            <button class="ok">OK</button>
            <button class="cancel">Cancel</button>
        
    
</div>