<button class="modifyAssignmentButton">Modify Assignment Information</button>
<div class="demo-wrapper">
    <div class="html5-dialog">
        <dialog id="window">
            <h3>Modify an Assignment</h3>
            <label>Assignment Name: <input id = "assignmentName" type="text" name="assignmentName"></label><br><br>
            <label>Weight: <input id = "assignmentWeight" type="text" name="assignmentWeight"><br><br>
            <label>Total Score: <input id = "assignmentTotalScore" type="text" name="assignmentTotalScore"><br><br>
           <label>Category: <select name="category">
              <option value="Tests">Tests</option>
              <option value="Projects">Projects</option>
              <option value="Homework">Homework</option>
           </select></label><br><br>
            <button id="ok">OK</button>
            <button id="cancel">Cancel</button>
        </dialog>
        <button id="modifyassignment">Modify Assignment</button>
    </div>
</div>