<button class="modifyStudentButton">Modify Student Information</button>
<div class="popup-dialog">
    <!-- Drop down menu to choose students from list -->
     <select><option>Select Student</option></select>

      <!-- Search bar to search for student information -->
    <input id="search" type="text" name="search" placeholder="Search..."><br>

    <h3>Modify Student</h3>
    Student Name <input class="studentName" type="text" name="studentName" placeholder="i.e. John Doe"><br>
    EMPL ID <input class="studentID" type="text" name="studentID" placeholder="i.e. 00000001"><br>
    Nickname <input class="studentNickname" type="text" name="studentNickname" placeholder="i.e. Johnny"><br>
    Group <input class="studentGroup" type="text" name="studentGroup" placeholder="i.e. '1' or 'Node"><br>
    Email <input class="studentEmail" type="text" name="studentEmail" placeholder="i.e. jdoe@gmail.com"><br>
    Phone <input class="studentPhone" type="text" name="studentPhone" placeholder="i.e. 123-456-7890"><br>
    <p>Clicking OK below will save changes to the above student information.</p>
    <button class="ok">OK</button>
    <button class="cancel">Cancel</button>
</div>