<button class="modifyStudentButton">Modify Student Information</button>
<div class="popup-dialog">

    <h3>Modify Student</h3>
    First Name <input class="studentFirstName" type="text" name="studentFirstName" placeholder="i.e. John"><br>
    Last Name <input class="studentLastName" type="text" name="studentLastName" placeholder="i.e. Doe"><br>
    EMPL ID <input class="studentID" type="text" name="studentID" placeholder="i.e. 00000001"><br>
    Email <input class="studentEmail" type="text" name="studentEmail" placeholder="i.e. jdoe@gmail.com"><br>
    <p>Clicking OK below will save changes to the above student information.</p>
    <button class="ok">OK</button>
    <button class="cancel">Cancel</button>
</div>