<div class="cat-selector">Choose a Category:<select class="category"></select></div><br>
<button class="modifyCategoryButton">Modify Category Information</button>
<div class="popup-dialog">
<h3>Modify Category</h3>
    Category Name:<input class="categoryName" type="text" name="categoryName" placeholder="i.e. Tests"><br>
    Category Weight:<input class="categoryWeight" type="text" name="categoryWeight" placeholder="i.e. 40"><br>
    Parent Category:<select class="parentCategory"></select>
    <p>Clicking OK below will save changes to the above category information.</p>
    <button class="ok">OK</button>
    <button class="cancel">Cancel</button>
</div>