<% layout('layout') -%>

<h1>New User</h1>
<form action="create-user" method="post">
   <input type="text" name="username" placeholder="Username">
   <input type="password" name="password" placeholder="Password">
   <input type="text" name="first" placeholder="First Name">
   <input type="test" name="last" placeholder="Last Name">
   <button type="submit">Login</button>
</form>
