<div id="top-bar">
   <a href="/">Grader</a> <span class="bar">|</span>
   <a href="/admin">Admin</a>
   <a href="/">File</a>
   <a href="/">Edit</a>
   <a href="/">Class</a>
   <a href="/">Student</a>
   <a href="/">Assignment</a>
   <a href="/">Graph</a>
   <a href="/">Help</a>

   <div class="user-info">
      Welcome <a href="/user/<%= user._id %>"><%= user.first %></a> <span class="bar">|</span>
      <a href="/logout">sign out</a>
   </div>
</div>
